<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" type="text/css" href="/signup.css">
</head>
<body>
<div class="div">
    <div class="div2">
        <img src="profile_basic.png" alt="프로필 기본 이미지" />
        <div class="title">회원가입 페이지</div>
        <div class="navigation">
            <div class="tab">홈</div>
            <div class="tab">업무</div>
            <div class="textfield">
                <div class="text">Search in site</div>
                <img class="ic-search" src="magnifier.png" alt="검색 아이콘" />
            </div>
        </div>
    </div>
    <div class="content">
        <div class="image-container">
            <img class="signup-image" src="signup_register.png" alt="Background Image" />
            <div class="image-title">Register</div>
        </div>
        <div class="form-container">
            <div class="row">
                <div class="input">
                    <div class="title2">이용약관에 대한 동의</div>
                    <div class="textfield2">
                        <div class="text2">
                                <span>
                                    <span class="text-2-span">
                                        By accessing or using our services, you agree to comply with and be bound by the following terms and conditions...
                                    </span>
                                    <ol class="text-2-span2">
                                        <li>Acceptance of Terms</li>
                                        <li>Changes to the Terms</li>
                                        <li>User Responsibilities</li>
                                    </ol>
                                    <span class="text-2-span3">By clicking "Agree," you confirm...</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input">
                    <div class="title2">사용자명</div>
                    <div class="textfield3">
                        <input class="text3" type="text" placeholder="Enter your username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input">
                    <div class="title2">비밀번호</div>
                    <div class="textfield3">
                        <input class="text3" type="password" placeholder="Enter your password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input">
                    <div class="title2">비밀번호 확인</div>
                    <div class="textfield3">
                        <input class="text3" type="password" placeholder="Confirm your password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input">
                    <div class="title2">이메일</div>
                    <div class="textfield3">
                        <input class="text3" type="email" placeholder="Enter your email">
                    </div>
                </div>
            </div>
            <div class="button">
                <div class="primary">
                    <button class="title3">회원가입</button>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-427318967">
        <div class="div3">개인정보처리 방침</div>
        <div class="div4">정책</div>
    </div>
</div>
</body>
</html>
